# Removing .idea and Pycache files
.idea
__pycache__

# Removing testing files
testing.py
testingv2.py
testingv3.py
Experiments.py

### Removing irrelevant directories for a user
Graphs/data/match_mpp_June13.npz
Graphs/data
Graphs/
Pre-Analysis Graphs/
old_version/
